<!--  css + html을 이용한 슬라이드 리스트만들기 -->
<!-- <div class="slidebox">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
    <input type="radio" name="slide" id="slide4">

<ul class="slidelist">
    <li class="slideitem">
        <div>
            <label for="slide4" class="left"></label>
            <label for="slide2" class="right"></label>
            <a><img src="">1</a>
        </div>
    </li>
<li class="slideitem">
    <div>
        <label for="slide1" class="left"></label>
        <label for="slide3" class="right"></label>
        <a><img src="/images/box.png">2</a>
    </div>
</li>
<li class="slideitem">
    <div>
        <label for="slide2" class="left"></label
            ><label for="slide4" class="right"></label>
        <a><img src="/images/box.png">3</a>
    </div>
</li>
<li class="slideitem">
    <div>
        <label for="slide3" class="left"></label>
        <label for="slide1" class="right"></label>
        <a><img src="/images/box.png">4</a>
    </div>
</li>
</ul>
</div> -->