<header class="main">
<h1>Interior</h1>
</header>
<nav class="nav">
    <ul id="nav_ul">
        <li role="presentation" class="navmenu active">홈</li>
        <li role="presentation" class="navmenu">공지사항</li>
        <li role="presentation" class="navmenu">이벤트</li>
        <li role="presentation" class="navmenu">로그인</li>
        <li role="presentation" class="navmenu">회원가입</li>
    </ul>
</nav>
