<header class="main">
<h1>Interior</h1>
</header>
<nav class="nav">
    <ul>
        <li class="navmenu active">홈</li>
        <li class="navmenu">공지사항</li>
        <li class="navmenu">이벤트</li>
        <li class="navmenu">로그인</li>
        <li class="navmenu">회원가입</li>
    </ul>
</nav>