doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/main.js")
    script(src="/js/list.js")
    script(src="/js/detail.js")
  body
    h1 아기자기한 게시판만들기  
    block content
