doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/main.js")        
  body
    h1.color-change-3x 아기자기한 게시판만들기  
    .search.box       
      input(placeholder="게시물 검색어").search
      button.search 검색
    block content
