extends ./index.pug

block content
    script(src="/js/waitingRoom.js")
    div
        div
        label(for="id") ID 생성
        input(id="id", placeholder="ID를 입력해주세요...")
        button(type="button") ID & 방생성

