extends ./layout.pug

block content
    h1 Chat App
    h2 Room List
    ul#room-list
    form(action='/chat' method='post')
      input(type='text' name='id' placeholder='Enter your ID')
      button(type='submit') Join Room
    script(src='/js/waitingRoom.js')

