doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/main.js")
    script(src="/js/list.js")    
  body
    h1.color-change-3x 아기자기한 게시판만들기  
    block content
