input[name="p_code"] {
  flex: 2.5 !important;
}

div.products.code {
  flex: 0.5;
}

button.products.code_check {
  padding: 0.3px 20px;
  margin-left: 10px;
  background-color: greenyellow;
}

div.products.price {
  flex: 3;
}
div.products.price input,
div.products.price label {
  width: calc(100% / 8);
}
input[type="checkbox"] {
  display: none;
}
label.checkbox {
  text-align: center !important;
  margin: 0 1em;
  width: 40px;
  height: 40px;

  background-color: #ebf5fc;

  box-shadow: -5px -5px 5px rgb(250, 250, 250), 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
input[type="checkbox"]:checked + label {
  background-color: #ebf5fc;
  box-shadow: inset -2px -2px 5px rgb(250, 250, 250),
    inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}
