extends layout

block content
    form(method="post").manage 
        div 
            span 거래처ID 
            input(name="c_id" placeholder="거래처 ID")
        div 
            span 거래처명
            input(name="c_name" placeholder="거래처 이름")
        div 
            span 전화번호
            input(name="c_tel" placeholder="연락처")
        div 
            span 담당자명
            input(name="c_manager" placeholder="담당자명")
        div 
            span 주소
            input(name="c_addr" placeholder="주소")
        div 
            button(type="submit").add 저장
            button(type="button").reset 새로작성
            button(type="button").golist 리스트로

