doctype html
html
  head  
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/main.js")
    h1 나라상사 EPR 시스템 2022
  nav 
    ul 
      li Home
      li 주문관리
      li 결제관리
      li 거래처관리
      li 상품관리
      li 로그인
body
  section.manage
    block content


  
