extends layout

block content
  nav.uppermenu
    ul 
      li.menu.active 처음화면
      li.menu 메뉴1
      li.menu 메뉴2
      li.menu 로그인
      li.menu 회원가입
  section.main
    section.inner.first
      //- div 어플 다운로드
      //- div 안드로이드 용
      //- div 아이폰 O.S.용
      div.url 
      div.url 
    section.inner.img
        