extends layout

block content
  nav.uppermenu
    ul 
      li.menu.active 처음화면
      li.menu 메뉴1
      li.menu 메뉴2
      li.menu 로그인
      li.menu 회원가입
    section.main
      section.inner
      section.inner
        img(src=require("./images/bg.jpg"))