extends ../layout

block content
    link(rel="stylesheet" href="/css/products/list.css")
    script(src="/js/products/list.js")
    table.products.list 
        thead 
            tr 
                td 상품코드
                td 상품명
                td 분류
                td 주 매입처
                td 매입단가
                td 매출단가
                td 판매단가
    .products.button.box 
        button.products.button.insert 추가
    div 
        a(href="/uploads/myimage.jpg" target="_blank")
            img(src="/uploads/myimage.jpg" width="100px")

