.bbs.detail {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  border: none;
}

div.row.Fst,
.row.Snd {
  display: flex;
}
.row.Fst div {
  flex: 0.1;
  white-space: nowrap;
  margin: 12px;
}
div.row.Fst div:nth-of-type(n-1) {
  text-align: right;
}
div.row.Fst div:nth-of-type(2n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
div.row.Fst div:nth-of-type(5) {
  margin-left: auto;
}
.row.Fst,
.row.Snd,
.row.Trd {
  margin-top: 12px;
  outline: none;
  border: none;
}
.row.Snd div {
  text-align: center;
  font-size: x-large;
  width: 100%;
}

div.row.Trd div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 12px;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.bbs.detail.button.box {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}

.bbs.update,
.bbs.delete,
.bbs.list {
  width: 80px;
  max-height: 30px;
  background-color: white;
  transition: 0.3s;
  border: none;
  border-radius: 20%;
}
.bbs.update {
  margin-left: auto;
}
.bbs.detail.button.box button:hover {
  background-color: black;
  color: white;
}
