<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1></h1>
      <p></p>
    </header>

    <DIV>
      <a href="/student/data"><button>전체보기</button></a>
      <a href="/student/list"><button>이전화면</button></a>
    </DIV>
    <form method="post">
      <input name="st_num" placeholder="학번" type="text" />
      <input name="st_name" placeholder="이름" type="text" />
      <input name="st_dept" placeholder="학과" type="text" />
      <input name="st_grade" placeholder="학년" type="number" />
      <input name="st_tel" placeholder="전화번호" type="text" />
      <input name="st_addr" placeholder="주소" type="text" />
      <button>추가</button>
      if (!st_num.value) { alert("학번을 반드시 입력하세요"); st_num.value = "";
      return false; } else if (!st_name.value) { alert("이름을 반드시
      입력하세요"); st_name.value = ""; return false; } else if (4 <
      st_grade.value || st_grade.valuse > 1) { alert("학년은 1~4사이에서
      선택하세요"); st_grade.value = ""; return false; }
    </form>
  </body>
</html>
